# wenguo controller
wenguo, /flash/morph, /flash/cfg
# process back is using program backandforth with parameter -50
back, /flash/backandforth, -50
# process forth is using program backandforth with parameter 50
forth, /flash/backandforth, 50