Seeding
(
)

Foraging
(
    foraging_time 80
    waiting_time 20
    assembly_time 1200
    beacon_threshold [3 3 3 3 3 3 3 3]
)
LocateBeacon
(
   locatebeacon_time 200
)

Alignment
(
   forward_speed [25 25 0]
   reverse_speed [-35 -35 0]
   reverse_time 30
)
Avoidance
(
    weight_left [-2 -2 0 0 2 2 0 0]
    weight_right [-2 -2 0 0 2 2 0 0]
    weight_side [0 0 -1 -1 0 0 1 1]
    threshold [2000 2000 2000 2000 2000 2000 2000 2000]
    threshold_aux [2000 2000 2000 2000 2000 2000 2000 2000]
)
Recruitment
(
    recruiting_beacon_signals_time 500
    recruiting_guiding_signals_time 200
)

Docking
(
    docking_trials 15 
    docking_time 80
    turn_right_speed [20 -20 0]
    turn_left_speed [-20 20 0]
    forward_speed [30 30 0]
    backward_speed [-20 -20 0]
    docking_trials 255
    docking_failed_reverse_time 30
    failed_reverse_speed [-30 -30 0]
)

Locking
(
    locking_motor_opening_time 30
    locking_motor_closing_time 40
    locking_motor_enabled [0 0 0 0]
)

MacroLocomotion
(
    hinge_motor_lifting_time 50 
    hinge_motor_lowing_time 50 
    hinge_motor_speed 40
    hinge_motor_angle 40
    hinge_motor_default_pos 75
    hinge_motor_enabled 0
)

Debugging
(
    mode 31 
    para [211 0 216 0 0 2 0 0 211 0]
)

Global
(
	logtofile 0
#refer to global.hh for a full list of states
	init_state  26 
	print_proximity 0
        print_beacon 0
        print_reflective 0
        print_ambient 0
        print_status 1
    	ir_msg_repeated_delay 20
    	ir_msg_repeated_num 10
	ir_msg_ack_delay  3
        reflective_calibrated [284 171 433 1974 206 143 3673 3250]
        ambient_calibrated [3761 3765 0 0 3865 3796 0 0]
        aux_reflective_calibrated [444 298 259 393 382 259 277 810]
        aux_ambient_calibrated [0 0 0 0 0 0 0 0]
#	fail_in_state 20
#	fail_after_delay 100
)

Motor
(
    speed_forward 30
    speed_sideward 2
    aw_adjustment_ratio 1.5
    locomotion_motor_enabled 0
)

ShapeInfo
(
seq "ABSFSBABAFSB000000000000"
)



